本笔记本加载well_prediction 预测文件

测井数据

1. 定义常量和配置

2. 数据读取模块

In [14]:

file_description = """本 HDF5 文件是：经过处理的 log_data.csv 文件进行转移存储的。"""

In [16]:
df = pd.read_csv('./data/log_data.csv') 
df.head()

,WELL_NAME,DEPTH,GR,BS,CALI,ROP,RHOB,NPHI,RACEHM,RACELM,...,DTS,VCARB,VSH,PHIF,SW,KLOGH,KLOGV,SAND_FLAG,CARB_FLAG,COAL_FLAG
0,Well_F19A,3666.5916,54.521200,8.5,NaN,NaN,2.288292,0.174843,NaN,NaN,...,NaN,NaN,0.598800,0.199843,0.5590,0.0003,NaN,0.0,0.0,0.0
1,Well_F19A,3666.7440,54.444945,8.5,NaN,NaN,2.253138,0.193743,NaN,NaN,...,NaN,NaN,0.599555,0.218743,0.5131,0.0000,NaN,0.0,0.0,0.0
2,Well_F19A,3666.8964,54.368690,8.5,NaN,NaN,2.209173,0.217380,NaN,NaN,...,NaN,NaN,0.600310,0.242380,0.4737,0.0000,NaN,0.0,0.0,0.0
3,Well_F19A,3667.0488,54.292435,8.5,NaN,NaN,2.238881,0.201408,NaN,NaN,...,NaN,NaN,0.601065,0.226408,0.5054,0.0000,NaN,0.0,0.0,0.0
4,Well_F19A,3667.2012,54.216180,8.5,NaN,NaN,2.257926,0.191169,NaN,NaN,...,NaN,NaN,0.601820,0.216169,0.5360,0.0000,NaN,0.0,0.0,0.0

In [17]:
df.columns

Index(['WELL_NAME', 'DEPTH', 'GR', 'BS', 'CALI', 'ROP', 'RHOB', 'NPHI',
       'RACEHM', 'RACELM', 'RM', 'RD', 'PEF', 'DT', 'DTS', 'VCARB', 'VSH',
       'PHIF', 'SW', 'KLOGH', 'KLOGV', 'SAND_FLAG', 'CARB_FLAG', 'COAL_FLAG'],
      dtype='object')

4. 将数据保存到文件

保存

In [18]:
from data_save import save_data_to_h5_using_strategy, AdvancedDataSaver

save_data_to_h5_using_strategy(df, 'log_data.h5', file_description,strategy= AdvancedDataSaver())

读取

5. 主程序

In [33]:
# main.py

# from data_processing import process_data

def main():
    """
    主程序，处理井数据并显示结果。
    """
    dataset = process_data()
    print(f"数据集长度: {len(dataset)}")
    print("数据集头部:")
    print(dataset.head())
    print("数据集尾部:")
    print(dataset.tail())
    
    save_data_to_h5(dataset, 'well_log_daqing.h5', file_description)
    print("数据已保存为well_log_daqing.h5")
    

if __name__ == "__main__":
    main()

数据集长度: 38734
数据集头部:
     DEPT    RMG    RMN  RMN-RMG     CAL       SP       GR      HAC      BHC  \
0  780.60  2.260  2.265    0.005  23.492  121.845  102.405  402.244  405.716
1  780.65  2.241  2.281    0.040  23.453  121.845  103.093  397.115  404.701
2  780.70  2.405  2.474    0.069  23.403  121.656  102.995  394.872  403.953
3  780.75  2.598  2.640    0.042  23.363  121.325  102.405  397.009  404.434
4  780.80  2.533  2.538    0.005  23.333  120.994  101.128  404.060  405.021

     DEN WellName
0  2.269       A1
1  2.274       A1
2  2.284       A1
3  2.274       A1
4  2.284       A1
数据集尾部:
           DEPT    RMG    RMN  RMN-RMG     CAL      SP      GR      HAC  \
38729  1006.079  6.191  8.237    2.046  21.125  66.313  81.215  335.470
38730  1006.129  5.867  8.042    2.175  21.095  66.248  82.754  335.470
38731  1006.179  6.723  9.164    2.441  21.080  66.150  84.678  335.150
38732  1006.229  7.263  9.530    2.267  21.118  66.248  87.660  335.150
38733  1006.279  6.874  8.828    1.954  21.182  66.313  89.873  319.026

           BHC    DEN WellName
38729  336.003  2.116       A6
38730  333.760  2.144       A6
38731  331.571  2.164       A6
38732  329.755  2.178       A6
38733  324.362  2.179       A6
数据已保存为well_log_daqing.h5

6. 技术文档

    在每个模块和函数的文档字符串中，我们已经提供了关于其功能和用法的描述。这些描述可以作为技术文档的一部分，帮助其他开发者理解和使用代码。

    通过这种方式，代码结构更加清晰，模块化，并且易于维护和扩展。同时，提供的文档字符串为代码的使用和维护提供了指导。

## 代码笔记

重新整理和组织代码结构：
1. 模块化：将代码分解为可重用的模块，提高代码可读性和可维护性。
2. 文档化：为每个模块和函数添加文档字符串(docsstrings),便于理解其功能和用法。
3. 错误处理：确保代码中适当的错误处理机制，便于调试和维护。
4. 代码风格：Python的PEP 8 风格指南，确保代码的一致性和可读性。_

元数据信息：
- 数据来源：大庆数据
- 数据格式：csv
- 数据量：约 38837 行
- 特征数量：10，['DEPT', 'RMG', 'RMN', 'RMN-RMG', 'CAL', 'SP', 'GR', 'HAC', 'BHC', 'DEN']
- 井号： A1-A6,共6口井

HDFS:
- 标签；
- 描述信息
- 数据